* {
    font-family: "Microsoft YaHei";
}

/*QPushButton*/
QPushButton {
    color: #fff;
    border: 0px solid rgba(255, 255, 255, 0);
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
}

/*MediumGray*/
QPushButton[class="MediumGray"] {
    background-color: #aab2bd;
}

QPushButton:hover[class="MediumGray"] {
    background-color: #ccd1d9;
}

QPushButton:pressed[class="MediumGray"] {
    background: qradialgradient(cx:0.5,
    cy: 0.5,
    fx: 0.5,
    fy: 0.5,
    radius: 1.5,
    stop: 0.2 #ccd1d9,
    stop: 0.8 #aab2bd);
}

/*DarkGray*/
QPushButton[class="DarkGray"] {
    background-color: #434a54;
}

QPushButton:hover[class="DarkGray"] {
    background-color: #656d78;
}

QPushButton:pressed[class="DarkGray"] {
    background: qradialgradient(cx:0.5,
    cy: 0.5,
    fx: 0.5,
    fy: 0.5,
    radius: 1.5,
    stop: 0.2 #656d78,
    stop: 0.8 #434a54);
}

/*BlueJeans*/
QPushButton[class="BlueJeans"] {
    background-color: #4a89dc;
}

QPushButton:hover[class="BlueJeans"] {
    background-color: #5d9cec;
}

QPushButton:pressed[class="BlueJeans"] {
    background: qradialgradient(cx:0.5,
    cy: 0.5,
    fx: 0.5,
    fy: 0.5,
    radius: 1.5,
    stop: 0.2 #5d9cec,
    stop: 0.8 #4a89dc);
}

/*Aqua*/
QPushButton[class="Aqua"] {
    background-color: #3bafda;
}

QPushButton:hover[class="Aqua"] {
    background-color: #4fc1e9;
}

QPushButton:pressed[class="Aqua"] {
    background: qradialgradient(cx:0.5,
    cy: 0.5,
    fx: 0.5,
    fy: 0.5,
    radius: 1.5,
    stop: 0.2 #4fc1e9,
    stop: 0.8 #3bafda);
}

/*Mint*/
QPushButton[class="Mint"] {
    background-color: #37bc9b;
}

QPushButton:hover[class="Mint"] {
    background-color: #48cfad;
}

QPushButton:pressed[class="Mint"] {
    background: qradialgradient(cx:0.5,
    cy: 0.5,
    fx: 0.5,
    fy: 0.5,
    radius: 1.5,
    stop: 0.2 #48cfad,
    stop: 0.8 #37bc9b);
}

/*Grass*/
QPushButton[class="Grass"] {
    background-color: #8cc152;
}

QPushButton:hover[class="Grass"] {
    background-color: #a0d468;
}

QPushButton:pressed[class="Grass"] {
    background: qradialgradient(cx:0.5,
    cy: 0.5,
    fx: 0.5,
    fy: 0.5,
    radius: 1.5,
    stop: 0.2 #a0d468,
    stop: 0.8 #8cc152);
}

/*Sunflower*/
QPushButton[class="Sunflower"] {
    background-color: #f6bb42;
}

QPushButton:hover[class="Sunflower"] {
    background-color: #ffce54;
}

QPushButton:pressed[class="Sunflower"] {
    background: qradialgradient(cx:0.5,
    cy: 0.5,
    fx: 0.5,
    fy: 0.5,
    radius: 1.5,
    stop: 0.2 #ffce54,
    stop: 0.8 #f6bb42);
}

/*Bittersweet*/
QPushButton[class="Bittersweet"] {
    background-color: #e9573f;
}

QPushButton:hover[class="Bittersweet"] {
    background-color: #fc6e51;
}

QPushButton:pressed[class="Bittersweet"] {
    background: qradialgradient(cx:0.5,
    cy: 0.5,
    fx: 0.5,
    fy: 0.5,
    radius: 1.5,
    stop: 0.2 #fc6e51,
    stop: 0.8 #e9573f);
}

/*Grapefruit*/
QPushButton[class="Grapefruit"] {
    background-color: #da4453;
}

QPushButton:hover[class="Grapefruit"] {
    background-color: #ed5565;
}

QPushButton:pressed[class="Grapefruit"] {
    background: qradialgradient(cx:0.5,
    cy: 0.5,
    fx: 0.5,
    fy: 0.5,
    radius: 1.5,
    stop: 0.2 #ed5565,
    stop: 0.8 #da4453);
}

/*Lavender*/
QPushButton[class="Lavender"] {
    background-color: #967adc;
}

QPushButton:hover[class="Lavender"] {
    background-color: #ac92ec;
}

QPushButton:pressed[class="Lavender"] {
    background: qradialgradient(cx:0.5,
    cy: 0.5,
    fx: 0.5,
    fy: 0.5,
    radius: 1.5,
    stop: 0.2 #ac92ec,
    stop: 0.8 #967adc);
}

/*PinkRose*/
QPushButton[class="PinkRose"] {
    background-color: #d770ad;
}

QPushButton:hover[class="PinkRose"] {
    background-color: #ec87c0;
}

QPushButton:pressed[class="PinkRose"] {
    background: qradialgradient(cx:0.5,
    cy: 0.5,
    fx: 0.5,
    fy: 0.5,
    radius: 1.5,
    stop: 0.2 #ec87c0,
    stop: 0.8 #d770ad);
}

/*QLineEdit*/
QLineEdit {
    border: 1px solid #303337;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px 8px;
    selection-background-color: darkgray;
}

QLineEdit:focus {
    border: 1px solid #3bafda;
}

/*QComboBox*/
QComboBox {
    border: 1px solid #aab2bd;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px 8px;
}

QComboBox::drop-down {
    background-color: transparent;
}

QComboBox::down-arrow {
    image: url("%PATH%/img/more.png");
    padding-right: 10px;
    padding-top: 2px;

}

QComboBox::!editable:on {
    border: 1px solid #3bafda;
}

QComboBox QAbstractItemView{
    border: 2px solid #e6e9ed;
    outline: none;
}

QComboBox QAbstractItemView::item{
    height: 35px;
    border-bottom: 1px solid #e6e9ed;
}

QComboBox QAbstractItemView::item:hover{
    background-color: #3bafda;
    color: #FFFFFF;
}

QComboBox QAbstractItemView::item:selected{
    background-color: #3bafda;
    color: #FFFFFF;
}

/*QListWidget,QListView*/
QListWidget,QListView {
    border: 1px solid #303337;
    outline: none;
    padding: 0;
}

QListWidget::item,QListView::item {
    height: 30px;
    padding-left: 5px;
    border-bottom: 1px solid #303337;
}

QListWidget::item:hover,QListView::item:hover{
    background-color: #3bafda;
    color: #FFFFFF;
}

QListWidget::item:selected,QListView::item:selected{
    background-color: #3bafda;
    color: #FFFFFF;
}

/*QTableWidget,QTableView*/
QHeaderView{
    height: 40px;
    border: 0 solid rgba(255, 255, 255, 0);
    background-color: #fff;
    border-bottom: 2px solid #e6e9ed;
}

QHeaderView::section{
    height: 40px;
    border: 0 solid rgba(255, 255, 255, 0);
    background-color: #fff;
    outline: none;
}

QTableWidget,QTableView{
    border: 1px solid #ccd1d9;
    alternate-background-color: #f1f2f6;
    background-color: #fff;
    selection-background-color : #3bafda;
}

/*QProgressBar*/
QProgressBar {
    border-radius: 5px;
    text-align: center;
    background-color: #e6e9ed;
}

QProgressBar::chunk{
    border-radius: 3px;
}

QProgressBar::chunk[class="Aqua"] {
    background-color: #3bafda;
}

QProgressBar::chunk[class="Grass"] {
    background-color: #8cc152;
}

QProgressBar::chunk[class="Sunflower"] {
    background-color: #f6bb42;
}

QProgressBar::chunk[class="Grapefruit"] {
    background-color: #da4453;
}

/*QCheckBox*/
QCheckBox::indicator:unchecked {
    width: 13px;
    height: 13px;
    border: 1px solid #303337;
    background-color: #fff;
}

QCheckBox::indicator:unchecked:hover {
    border: 1px solid #3bafda;
}

QCheckBox::indicator:checked {
    background-color: #fff;
    image: url('%PATH%/img/checkbox_checked.png');
}

/*QRadioButton*/
QRadioButton::indicator:unchecked {
    image: url('%PATH%/img/Raidobox_unchecked.png');
    /*background-color: #fff;*/
}

QRadioButton::indicator:unchecked:hover {
    image: url('%PATH%/img/Raidobox_unchecked_hover.png');
}

QRadioButton::indicator:checked {
    image: url('%PATH%/img/Raidobox_checked.png');
}

/*QTabWidget*/
QTabWidget{
    border:1px solid #ccd1d9;
}

QTabWidget::pane { /* The tab widget frame */
    border: none;
    background-color: #fff;
    border-radius: 3px;
    border-top-left-radius: 0;
}

QTabBar::tab {
    padding: 8px 30px;
    background-color: #fff;
}

QTabBar::tab:first {
    border-top-left-radius: 3px;
}

QTabBar::tab:!selected {
    border-left: 1px solid #ccd1d9;
    background-color: #e6e9ed;
}

/*QMenu*/
QMenu{
    padding:5px;
    background:white;
    border:1px solid #303337;
 }

QMenu::item{
    padding:0px 40px 0px 30px;
    height:25px;
}

QMenu::item:selected:enabled{
    background-color: #3bafda;
    color:white;
}

QMenu::item:selected:!enabled{
    background:transparent;
}

QMenu::separator{
    height:1px;
    background:lightgray;
    margin:5px 0px 5px 0px;
}

/*QScrollBar*/
QScrollBar:vertical {
    max-width: 13px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #303337;
}

QScrollBar::handle:vertical {
    background-color: #5D5D5D;
}

QScrollBar::handle:vertical:hover {
    background: #444444;
}

QScrollBar::add-line:vertical {
    background-color: #303337;

}

QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical {
    background-color: #e6e9ed;
}

QScrollBar:horizontal {
    max-height: 13px;
    padding-top: 0;
    padding-bottom: 0;
    border-right: 1px solid #303337;
}

QScrollBar::handle:horizontal {
    background-color: #cdced1;
}

QScrollBar::handle:horizontal:hover {
    background: #a9b2bd;
}

QScrollBar::add-line:horizontal {
    background-color: #303337;
}

QScrollBar::add-page:horizontal,QScrollBar::sub-page:horizontal {
    background-color: #e6e9ed;
}

/*QSlider*/
QSlider::groove:horizontal{
    border:0px;
    height:8px;
}

QSlider::sub-page:horizontal{
    background:white;
}

QSlider::add-page:horizontal{
    background:lightgray;
}

QSlider::handle:horizontal{
    background:white;
    width:10px;
    border-radius:5px;
    margin:-3px 0px -3px 0px;
}

QSlider::groove:vertical{
    border:0px;
    width:8px;
}

QSlider::sub-page:vertical{
    background:white;
}

QSlider::add-page:vertical{
    background:lightgray;
}

QSlider::handle:vertical{
    background:white;
    height:10px;
    border-radius:5px;
    margin:0px -3px 0px -3px;
}

/*QCalendarWidget*/
QCalendarWidget{
    background-color: #fff;
}

QCalendarWidget QToolButton {
  	height: 60px;
  	color: white;
  	font-size: 18px;
    font-weight: 700;
  	icon-size: 20px, 20px;
    background-color: #3bafda;
}

QCalendarWidget QToolButton:hover{
    border: transparent;
}

QCalendarWidget QToolButton:pressed{
    border: transparent;
    background-color: #4fc1e9;
}

QCalendarWidget QToolButton#qt_calendar_prevmonth{
    qproperty-icon: url('%PATH%/img/arrow-left.png');
}

QCalendarWidget QToolButton#qt_calendar_nextmonth{
    qproperty-icon: url('%PATH%/img/arrow-right.png');
}

QCalendarWidget QToolButton#qt_calendar_monthbutton::menu-indicator{
    background-color: #3bafda;
}

QCalendarWidget QToolButton#qt_calendar_monthbutton::menu-indicator:pressed{
    background-color: #4fc1e9;
}

QCalendarWidget QWidget {
    alternate-background-color: #FFFFFF;
}

QCalendarWidget QWidget#qt_calendar_navigationbar {
    background-color: #3bafda;
}

QCalendarWidget QAbstractItemView {
    padding: 11px;
	font-size:14px;
    outline: none;
    selection-color: #FFF;
}

/*QSpinBox*/
QSpinBox {
    padding: 5px;
    border: 1px solid #ccd1d9;
    border-radius: 2px;
}

QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width: 16px;
    height: 14px;
    border-image: url('%PATH%/img/spinbox_up.png');
    border-width: 1px;
    border-top-right-radius: 2px;
}

QSpinBox::up-button:pressed{
    border-image: url('%PATH%/img/spinbox_up_pressed.png');
}

QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width: 16px;
    height: 14px;
    border-image: url('%PATH%/img/spinbox_down.png');
    border-width: 1px;
    border-bottom-right-radius: 2px;
}

QSpinBox::down-button:pressed{
    border-image: url('%PATH%/img/spinbox_down_pressed.png');
}

/*QTreeWidget*/
QTreeWidget,TreeView {
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 1px;
}

QTreeWidget::item {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    border: 1px solid #d9d9d9;
    height: 30px;
    border-radius: 1px;
    padding-left: 2px;
    font-size: 12px;
    border-left: 0 solid transparent;
    selection-color: #FFF;
}

QTreeWidget::item:selected {
    background-color: #3bafda;
    border: 1px solid #3bafda;
    border-radius: 1px;
}

QTreeWidget::branch {
    background: palette(base);
}

QTreeWidget::branch:has-siblings:!adjoins-item {
    background: transparent;
}

QTreeWidget::branch:has-siblings:adjoins-item {
    margin-top: 2px;
    margin-left: 2px;
    border: 1px solid #d9d9d9;
    border-right: 0 solid transparent;
    margin-bottom: 2px;
    image: url('%PATH%/img/minus.png');
}

QTreeWidget::branch:!has-children:!has-siblings:adjoins-item {
    margin-top: 2px;
    margin-left: 2px;
    border: 1px solid #d9d9d9;
    border-right: 0 solid transparent;
    margin-bottom: 2px;
    image: url('%PATH%/img/minus.png');
}

QTreeWidget::branch:closed:has-children:has-siblings {
    margin-top: 2px;
    margin-left: 2px;
    image: url('%PATH%/img/plus.png');

}

QTreeWidget::branch:has-children:!has-siblings:closed {
    margin-top: 2px;
    margin-left: 2px;
    border: 1px solid #d9d9d9;
    border-right: 0 solid transparent;
    margin-bottom: 2px;
    image: url('%PATH%/img/plus.png');
}

QTreeWidget::branch:open:has-children:has-siblings {
    margin-top: 2px;
    margin-left: 2px;
    image: url('%PATH%/img/minus.png');
}

QTreeWidget::branch:open:has-children:!has-siblings {
    margin-top: 2px;
    margin-left: 2px;
    border: 1px solid #d9d9d9;
    border-right: 0 solid transparent;
    margin-bottom: 2px;
    image: url('%PATH%/img/minus.png');
}
